@media (max-width: 577px) {
  .tomorrow-point {
    margin-top: 1em;
  }
}

#footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2rem;
}

.secondborder {
  background-color: #ddc;
  border: solid 4vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 1px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  /* margin: 2vh 1vw; */
  /* height: 80vh; */
  padding: 0.5vmin;
  position: relative;
  text-align: center;
}

.secondborder2 {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  /* margin: 2vh 1vw; */
  /* height: 80vh; */
  padding: 1vmin;
  position: relative;
  text-align: center;
}

.secondborder2::before {
  border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  box-sizing: border-box;
  right: -2vmin;
  top: -2vmin;
  padding: 0;
}
.secondborder2::after {
  display:block;
  border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  left: -2.5vmin;
  position: absolute;
  box-sizing: border-box;
  right: -2.5vmin;
  top: -2.5vmin;
  padding: 0;
}

.secondborder::before {
  border-radius: 1px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  box-sizing: border-box;
  right: -2vmin;
  top: -2vmin;
  padding: 0;
}
.secondborder::after {
  display:block;
  border-radius: 1px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  left: -2vmin;
  position: absolute;
  box-sizing: border-box;
  right: -2vmin;
  top: -2vmin;
  padding: 0;
}

img{
  border:solid 2px;
  width:0;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  height:100%;
  width:100%;
  padding: 10px;
  margin:0;
}